<div>
	<NavLink class="nav-link" href="">About Me </NavLink>
	<p class="nav-sep"> |</p>
	<NavLink class="nav-link" href="projects">Projects </NavLink>
	<p class="nav-sep"> |</p>
	<NavLink class="nav-link" href="contactme">Contact Me </NavLink>
</div>

<div class="nav-border"></div>



@code {

}
