@page "/bewitchedbreakout"

<h3>Bewitched Breakout</h3>
<p>This game was a collaborative effort between me and 5 other people. It was a short 3D puzzle platformer made in the Unity engine developed as the final project of a Game Programming class I took within college. The story revolves around an adventurer trapped within a wizard's tower who learns that if he is to escape this prison of a tower he will have to learn and use the wizard's own magic against him. The game consisted of three levels and a non-comabt based boss battle.</p>

<h4>The First Level: The Prison Block</h4>
<p>
	This level takes place in the dungeon of the tower and acts as a sort of tutorial for the game. Here player's learn how to use a telekinesis spell which can be used to pick up objects and operate levers from afar. This level features door and pressure plate puzzles in which the player must use telekinesis to solve.
</p>

<h4>The Second Level: The Dungeon Catacombs</h4>
<p>This level takes the player to the catacombs of the tower. It is a small labyrinth of tunnels filled with traps that the player must navigate through. The primary goal of this level is to navigate through the traps within these tunnels utilizing a teleportation spell.</p>

<h4>The Third Level: The Plane of Binding</h4>
<p>This level is an astral dimension where the player must platform through various areas and utilize the levetation spell in order to guide them to their goals. The design for this level was inspired by the Arcane Sanctuary from Diablo 2.</p>

<h4>The Boss Fight: Zahlen</h4>
<p>The final area leads players to a square of against the main antagonist of the game, Zahlen. Zahlen who was proclaimed to be a mighty wizard is discovered by the player to actually be a lich trapped within his own pocket dimension. The player unknowingly unlocks a gateway to free Zahlen from his prison by completing all of the trials within his tower. This final level is a showdown and a race between Zahlen and the adventurer to see who can escape using the portal first. The player must platform to the exit and avoid Zahlen while doing so.</p>

@code {

}
