@page "/bewitchedbreakout"

<h3>Bewitched Breakout</h3>
<img src="Images/bewitchedbreakouttitle.PNG" style="max-width:720px;" />
<p>This game was a collaborative effort between me and 5 undergraduate colleagues. It was a short 3D puzzle platformer made in the Unity engine developed as the final project for CS485 - Game Programming at California State University San Marcos. The story revolves around an adventurer trapped within a wizard's tower who learns that if they are to escape this tower prison, they will have to learn and use the wizard's own magic against him. The game consisted of three levels and a non-combat based boss battle.</p>

<h4>The First Level: The Prison Block</h4>
<img src="Images/tutorial1.PNG" style="max-width:720px;" />
<p>
	This level takes place in the dungeon of the tower and acts as both introduction and tutorial for the game. Here, player's learn how to use a telekinesis spell which allows them to pick up objects and operate levers from afar. This level features door and pressure plate puzzles in which the player must use telekinesis to solve.
</p>

<h4>The Second Level: The Dungeon Catacombs</h4>
<img src="Images/level2.PNG" style="max-width:720px;" />
<p>This level takes the player to the catacombs of the tower. It is a small labyrinth of tunnels filled with traps through which the player must navigate. The primary goal of this level is for the player to creatively utilize the skills learned from the first level in addition to a new teleportation spell.</p>

<h4>The Third Level: The Plane of Binding</h4>
<img src="Images/level3_1.PNG" style="max-width:720px;" />
<p>This level is an astral dimension where the player must platform through various areas and utilize the all of the learned spells at their disposal in order to succeed. The design for this level was inspired by the iconic Arcane Sanctuary dungeon from Diablo 2.</p>

<h4>The Boss Fight: Zahlen</h4>
<img src="Images/boss_1.PNG" style="max-width:720px;" />
<p>The final area leads players to a tête-à-tête against the main antagonist of the game, Zahlen the Wizard. Zahlen, who was proclaimed to be a mighty sorcerer, is discovered by the player to actually be a lich trapped within his own pocket dimension. The player learned that, by having completed all of the puzzles to escape the tower, that they have unknowingly unlocked the prison which was actually designed to imprison Zahlen. This final level is a race between Zahlen and the player to see who can escape through the portal first, leaving the other trapped for eternity. </p>

<h4>My Role</h4>
<p>In this project I wore many different hats. My responsibilites included gameplay programming, VFX design, and level design. I worked on many of the physics interactions within the game including a moving platform in which the player is able to stand on, and some of the spell mechanics.</p>

<h4>Challenges</h4>
<p>Throughout the development, we faced many issues with lighting, gameplay bugs, and other inefficiencies. Finding a balance between developing new features and fixing these critical issues posed an interested challenge as we were juggling various deadlines. In order to meet these goals, I found myself taking on the role of a mentor and helping out my team members in the areas they were struggling with. This allowed us to not only solve these critical issues, but to do so as a team all while meeting our deadlines.</p>
@code {

}
