@page "/bewitchedbreakout"

<h3>Bewitched Breakout</h3>
<img src="Images/bewitchedbreakouttitle.PNG" style="max-width:720px;" />
<p>This game was a collaborative effort between me and 5 undergraduate colleagues. It was a short 3D puzzle platformer made in the Unity engine developed as the final project for CS485 - Game Programming at CSU San Marcos. The story revolves around an adventurer trapped within a wizard's tower who learns that if they are to escape this tower prison, they will have to learn and use the wizard's own magic against him. The game consisted of three levels and a non-combat based boss battle.</p>

<h4>The First Level: The Prison Block</h4>
<img src="Images/tutorial1.PNG" style="max-width:720px;" />
<p>
	This level takes place in the dungeon of the tower and acts as both introduction and tutorial for the game. Here, player's learn how to use a telekinesis spell which allows them to pick up objects and operate levers from afar. This level features door and pressure plate puzzles in which the player must use telekinesis to solve.
</p>

<h4>The Second Level: The Dungeon Catacombs</h4>
<img src="Images/level2.PNG" style="max-width:720px;" />
<p>This level takes the player to the catacombs of the tower. It is a small labyrinth of tunnels filled with traps through which the player must navigate. The primary goal of this level is for the player to creatively utilize the skills learned from the first level in addition to a new teleportation spell.</p>

<h4>The Third Level: The Plane of Binding</h4>
<img src="Images/level3_1.PNG" style="max-width:720px;" />
<p>This level is an astral dimension where the player must platform through various areas and utilize the all of the learned spells at their disposal in order to succeed. The design for this level was inspired by the iconic Arcane Sanctuary dungeon from Diablo 2.</p>

<h4>The Boss Fight: Zahlen</h4>
<img src="Images/boss_1.PNG" style="max-width:720px;" />
<p>The final area leads players to a tête-à-tête against the main antagonist of the game, Zahlen the Wizard. Zahlen, who was proclaimed to be a mighty sorcerer, is discovered by the player to actually be a lich trapped within his own pocket dimension. The player learned that, by having completed all of the puzzles to escape the tower, that they have unknowingly unlocked the prison which was actually designed to imprison Zahlen. This final level is a race between Zahlen and the player to see who can escape through the portal first, leaving the other trapped for eternity. </p>

<h4>My Role</h4>
<p>In this project I wore many different hats. My responsibilites included gameplay programming, VFX design, and level design. I worked on many of the physics interactions within the game including a moving platform which the player is able to stand on, and some of the spell mechanics.</p>

<h4>Challenges</h4>
<p>This project was carried out in an environment and workflow similar to that of professional game development. My collegues and I had various sprint goals we needed to meet every few weeks and some of these goals presented major challenges. In addition to our making time for our normal studies we found ourselves having to do crunch time on the game as its deadline approached. Many of my collegues were brand new to game development and being unfamiliar with tools such as Unity presented major roadblocks for a lot of the development. By sharing my knowledge of the engine and game development with them we were able to achieve a working game but it was not without its issues. We faced many issues with lighting, gameplay bugs, and other inefficiencies. Many of my collegues were going through other final exams at the time so they had entrusted the final task of quality assurance and fixing many of the games shortcomings to me. Through hard work, dedication, and 48 sleepless hours of caffiene driven development I was able to fix many of the critical issues plaguing our game. I not only learned how difficult game development can be, but also how far your creativity can take you in problem solving when pressed for time.</p>
@code {

}
