@page "/contactme"

<h3>Email:</h3>
<p>
	<a href="mailto:liamgomez75@gmail.com">liamgomez75@gmail.com</a>
</p>
<h3>Other Platforms:</h3>
<p style="color: #39ff14;"><a href="https://github.com/liamgomez75">Github</a> | <a href="https://www.linkedin.com/in/liam-gomez-2a7233123/"> LinkedIn </a> | <a href="https://itch.io/profile/sigitalis">Itch.io</a> | <a href="https://dev.bukkit.org/members/sigitalis/projects">Bukkit</a></p>


@code {

}
