@page "/contactme"

<h3>Contact Me</h3>

<div>

</div>
<p>Email: <a href="liamgomez75@gmail.com">liamgomez75@gmail.com</a></p>
<p><a href="https://github.com/liamgomez75">Github</a> | <a href="https://www.linkedin.com/in/liam-gomez-2a7233123/"> LinkedIn </a></p>

@code {

}
