@page "/gopher"

<h3>The Gopher Experiment</h3>
<img src="Images/gopher_experiment.gif"/>
<p>
	I was commissioned by the Princeton Neuroscience Institute’s Brain Development Lab to design a video game that would be entertaining enough for children to play while they underwent magnetic resonance imaging (MRI) scans. Because the scientists wanted to measure how children pay attention to different parts of the visual field, I designed a retro-feeling whack-a-mole style game in which children are asked to catch gophers than can appear randomly from different gopher holes tiled across a farmer’s field. In addition to a score system and auditory feedback for hits and misses, the game is designed to record reaction time to button presses and produce text files containing behavioral data from each play-through. The game was also designed to interact with the MRI scanner hardware so that the stimuli and game are continuously synchronized with brain activity measurements.
</p>


@code {

}
