@page "/gopher"

<h3>The Gopher Experiment</h3>
<img src="Images/gopher_experiment.gif"/>
<p>
The Gopher Experiment was a small game I developed for the Princeton Neuroscience Institute. It was designed to be ran as a visual experiment during MRI scans.The way the experiment works is that subjects will play this whack-a-mole type game while starting at the white dot in the center of the screen. Any time a gopher appears or any time the worm in the apple at the center appears the subject is told to push a button. A score is then totaled up at the end for how many hits or misses the subject got.
</p>

<p>I was asked to create this as a way to gamify the proposed experiment that Princeton’s Neuroscience Institute wanted to originally run. They felt that it was crucial for their experiment to be presented as a game as they wanted it to be fun, engaging, and interactive for all their subjects participating in it.</p>

@code {

}
