@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to my portfolio.</h1>
<p>Hello,</p>
<p>My name is Liam Gomez. I'm a programmer who loves to play games and solve problems through code. </p>
<p>I initially got my start programming back in 2011 coding Bukkit plugins for Minecraft.</p>
<p>Since then I've pioneered my career in coding and in game development through various jobs and projects that I've taken on over the years.</p>
<p>This website is a showcase of some of the work that I've done.</p>
