@page "/"

<p>Hello my name is Liam Gomez and I am a progammer and an avid player of video games and dungeons and dragons. I love to solve problems and programming is a great way to do that.  I initially got my start programming back in 2011 coding Bukkit plugins for Minecraft. Since then I've pioneered my careers in both software development and game development through various jobs and projects that I've taken on over the years.
</p>
