@page "/minecraft"

<h3>Minecraft Bukkit Plugins</h3>
<p>I’ve authored and contributed to a number of Minecraft Bukkit plugins in my early days of programming. If you want to check out my Bukkit Developer page you can find it <a href="https://dev.bukkit.org/members/sigitalis/projects">here</a>. Below, you can check out a selection of the plugins I’ve designed.</p>

<h3>Chatblind</h3>
<p>
	My first plugin was created to address a very common problem with the way that Minecraft chat works. Whenever a player is tabbed out of the game, they cannot view the in-game chat and are ultimately unaware if they are being spoken to by other players. To address this issue, I created a pinging feature for the chat system. The plugin will send a ping to the local client and play a sound when the player receives a mention, allowing players to seamlessly keep in touch. 
</p>
<p>You can learn more about this project here: <a href="https://dev.bukkit.org/projects/chatblind">Bukkit</a> | <a href="https://github.com/liamgomez75/Chatblind">GitHub</a></p>

<h3>ParkourRoll</h3>
<img src="Images/parkourroll.png" />
<p>
	Why experience fall damage when you can roll your way out of it? This plugin was created to give players the ability to perform “parkour roll” maneuvers often seen performed by freerunning or parkour athletes. This fun and interactive plugin reduces fall damage that players receive in-game by checking for a shift key press during a player’s fall. If the shift key is being held upon impact, damage is reduced or negated (depending on the fall height). I also implemented a leveling system which progresses as players continuously used the maneuver, increasing the damage reduction as a player advances, and increasing the entertainment value.
</p>

<p>You can learn more about this project here: <a href="https://dev.bukkit.org/projects/parkourroll">Bukkit</a> | <a href="https://github.com/liamgomez75/ParkourRoll">GitHub</a></p>
@code {

}
