@page "/minecraft"

<PageTitle>Minecraft Mods</PageTitle>


<h3>Bukkit Plugins</h3>

<p>I've authored and contributed to a number of Minecraft Bukkit plugins in my early days of programming.</p>

<p> If you want to check out my Bukkit Developer page you can find it <a href="https://dev.bukkit.org/members/sigitalis/projects">here</a>.</p>

<p>Below you can check out some of these cool plugins that I've worked on!</p>

<h4>ParkourRoll</h4>
<img src="https://media.forgecdn.net/avatars/71/568/636163277391358915.png" />
<p>This plugin was created by me to give players the ability to perform "parkour rolls" often seen in freerunning or parkour in the real world.</p>
<p>Essentially it is a fun and interactive way to reduce the fall damage that players receive in-game.</p>
<p>The way the plugin works is by checking for the shift key being held down as the player is falling.</p>
<p> If the shift key was held down then damage will be reduced or negated entirely depending on its configured falling height.</p>
<p>I also implemented a leveling system for it to add even more fun into the mix!</p>

<p> You can learn more about this project here: <a href="https://dev.bukkit.org/projects/parkourroll">Bukkit</a> | <a href="https://github.com/liamgomez75/Chatblind">GitHub</a></p>

<h4>Chatblind</h4>

<p>This was my first ever plugin and I began development on it when I realized a very common problem with the way that Minecraft chat works.</p>
<p>Whenever I was tabbed out of the game I realized that I would often miss messages from other players in my multiplayer servers.</p>
<p>It was then that I came up with the genius solution of creating a pinging system for the chat.</p>
<p>I built a plugin to send pings to people which would play sounds on their local client any time they received a mention.</p>

<p> You can learn more about this project here:<a href="https://dev.bukkit.org/projects/chatblind"> Bukkit</a> | <a href="https://github.com/liamgomez75/Chatblind">GitHub</a></p>

@code {

}
