@page "/periphery"

<h3>Periphery</h3>

<p>In the summer of 2015, I was given the opportunity to work in the Stanford Vision and Learning Lab as an intern. During my time at Stanford they had me work on gamifying the process of collecting data for training artificial intelligence. The premise of this project was to understand how humans see objects and recognize their edges through vision.</p>

<h4>The Game Concept</h4>
<p>The game was designed to be an online multiplayer experience where two users would each take on the role of outliner and guesser. In a similar fashion to the game Pictionary, one person would draw and the other would have to guess what it is that person was drawing. The difference with this game, however, is that the player drawing would already have an image in front of them containing an object that they needed to trace. The other player would then have to guess what that object is, all while only being able to see the lines being traced by the outliner. The drawing data and the correct guesses for objects would then be collected and used to train AI in image recognition.</p>

<h4>The Challenges of Periphery</h4>
<p>This project presented me with many challenges, requiring the creation of unique solutions. This internship at Stanford University was relatively early in my CS training, and demanded a high level of initiative and proactive research. I was given creative freedom in the design of this project implementation and I took advantage of that opportunity to learn and implement a new set of skills. Because players of this game could be remote, I had to designed a web application; a programming task that was novel to me. Over a long weekend, I studied AngularJS and Meteor and was able to implement an offline prototype of this project in a matter of days with no prior javascript experience. </p>

<h4>Multiplayer and Matchmaking</h4>
<p>Although having no networking experience, I was able to design and implement a matchmaking system for the game. The way I did this was by creating lobbies which housed unique session IDs that were stored on the backend server's database. Whenever a player chose to play the game they would first query the server to see if a lobby exists. The server would then search a list of lobbies to see if one with only 1 player existed. If no such lobbies existed, then a new lobby with a new session ID would be created. Once the player was successfully able to find a match, both players would be served the same content from the server in accordance to their shared lobby session ID. Players were then assigned the roles of outliner or guesser based on whoever arrived to the lobby first. </p>

@code {

}
