@page "/projects"

<div>
	<NavLink class="nav-link proj-link" href="minecraft">
		<h3>Minecraft Bukkit Plugins</h3>
	</NavLink>
	<p>A collection of various server-side Minecraft plugins that I worked on.</p>
</div>

<div>
	<NavLink class="nav-link proj-link" href="gopher">
		<h3>The Gopher Experiment</h3>
	</NavLink>
	<p>An experiment that I developed for the Princeton Neuroscience Institute.</p>
</div>

<div>
	<NavLink class="nav-link proj-link" href="bewitchedbreakout">
		<h3>Bewitched Breakout</h3>
	</NavLink>
	<p>A first person 3D puzzle and platforming game.</p>
</div>

<div>
	<NavLink class="nav-link proj-link" href="gourmand">
		<h3>Project Gourmand</h3>
	</NavLink>
	<p>A mobile application designed to act as a menu and ordering interface for restaurant owners and customers alike.</p>
</div>

<div>
	<NavLink class="nav-link proj-link" href="periphery">
		<h3>Project Periphery</h3>
	</NavLink>
	<p>A multiplayer web game that was developed for Stanford's Vision and Learning Lab in order to gamify the collection of data used for machine learning training.</p>
</div>

<div>
	<NavLink class="nav-link proj-link" href="themelonempire">
		<h3>The Melon Empire</h3>
	</NavLink>
	<p>A small 3D voxel game made for the Go Godot Jam.</p>
</div>




@code {

}
