@page "/themelonempire"

<h3>The Melon Empire</h3>
<img src="Images/melonempire.png" style="max-width:720px;" />
<p>This project is a small game that I developed for the <a href="https://sigitalis.itch.io/the-melon-empire">Go Godot Jam</a>. The premise of this game is that you are a watermelon trying to grow an army of melons. The gameplay involves you rolling around a swamp trying to avoid ghasts, water, and collecting seeds to bring back to the farming patch. Every time you bring seeds to the patch a watermelon spawns and starts following you. The goal of the game is to collect as many watermelon followers as possible. </p>
<h4>Challenges</h4>
<p>As this game was made for a game jam I only had a few days time to actually complete the project. It was an amazing learning experience and it allowed me to perform take my first experimental dive into creating and using voxel art in games. Learning how to make voxel art in a short amount of time was a challenge on its own, but in the end it left me with a really cool retro looking art style that I am proud of. This was also my first ever project made in the Godot engine. The challenges I encountered and the lessons I learned in putting this project together helped me grow as a developer and fostered the success of all of my future projects in the Godot engine.</p>
@code {

}
